div {
  background-color: #2A363B;
  color:ivory;
}

#grid{
  border:4px solid #E84A5F;
  padding:25px;
  display: grid;
  grid-template-columns: 350px 200px 400px 1fr 1fr;
    /* grid-template-areas:
      ". . header"
      "main . sidebar"
      ". . footer"; */
}
/* .gerne{grid-area:'header';}
.img{grid-area:'main';}
.title{grid-area:'sidebar';}
.overview{grid-area:'footer';} */
